:root {
    /* COLORS */
    --yellow: #F4D04E;
    --gray-500: #6B6B6B;
    --gray-950: #111111;
    --white: #FFFFFF;
}

body {
    font-family: "Figtree", sans-serif;
    letter-spacing: 0;
    line-height: 1.5;
    color: var(--gray-950);
}

.page {
    background-color: var(--yellow);
    min-height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    max-width: 384px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    border-radius: 20px;
    background-color: var(--white);
    padding: 24px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.image {
    border-radius: 10px;
}

.pill {
    background-color: var(--yellow);
    padding: 4px 12px;
    border-radius: 4px;
    align-self: start;
}

.author-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.author-image {
    height: 32px;
    width: 32px;
}

.text-preset-1 {
    font-weight: 800;
    font-size: 24px;
}

.text-preset-2 {
    font-weight: 500;
    font-size: 16px;
}

.text-preset-3 {
    font-weight: 500;
    font-size: 14px;
}

.text-preset-4 {
    font-weight: 800;
    font-size: 14px;
}

.text-gray-500 {
    color: var(--gray-500);
}