:root {
    /* COLORS */
    --yellow: #F4D04E;
    --gray-500: #6B6B6B;
    --gray-950: #111111;
    --white: #FFFFFF;
}

.page {
    background-color: var(--yellow);
    min-height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}